@font-face {
    font-family: 'quattrocento';
    src: url(../fonts/quattrocentosans-regular.ttf) format('truetype');
    src: url(../fonts/quattrocentosans-regular.woff) format('woff'), url(../fonts/quattrocentosans-regular.eot);
}
@font-face {
    font-family: 'black-bamboo';
    src: url(../fonts/black-bamboo.ttf) format('truetype');

    /* The .eot & .woff files render improperly. In IE, fonts will fall back to quattrocento instead. */
}

body {
    font-family: 'quattrocento';
    background-color: rgb(2, 10, 16);
    color: rgb(254, 254, 254);
    position: relative;
}

.parallax {
    background-image: url(../img/short-bkg.jpg);
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    height: 12rem;
    min-height: 160px;
    margin-top: 0;
}

h1,
section {
    margin: 1.8rem;
}

h1 {
    font-family: 'black-bamboo', 'quattrocento', sans-serif;
    font-size: 1.8rem;
}

a:link {
    color: rgb(254, 254, 254);
}

a:hover,
a:visited {
    color: rgb(200, 200, 200);
}

/* Keep this rule after the rules for a:link so a:active rule actually works! */
h1,
h2,
h3,
a:active {
    color: rgb(244, 182, 61);
}

ul {
    padding-left: 0;
}

.li_tier-1 {
    list-style-type: none;
}

li {
    margin: 0;
}

section + section {
    margin-top: 2.2rem;
}

li + li {
    margin-top: 0.2rem;
}

.li_tier-1 + .li_tier-1 {
    margin-top: 2.4rem;
}

/* -------- Font Sizes --------- */
h2 {
    font-size: 1.8rem;
}

h3 {
    margin-bottom: 0;
}

h4 {
    font-weight: 400;
}

h3,
h4,
p,
li {
    font-size: 1.1rem;
    line-height: 1.6rem;
    margin: 0;
}

.headshot {
    border-radius: 50%;
    width: 5rem;
    max-width: 200px;
    display: block;
    margin-left: 2rem;
}

.parallax {
    display: flex;
    align-items: center;
}

/* --------- CONTACT SECTION --------- */
.contact {
    display: flex;
    align-items: center;
}

.contact p img {
    width: 3.6rem;
    max-width: 90px;
}

/* --------- EXPERIENCE SECTIONS -------- */
h4 {
    margin-top: 1rem;
    margin-bottom: 0.8rem;
}

.college-logo {
    text-align: center;
    width: 100%;
}

.college-logo img {
    width: 50%;
    max-width: 160px;
}

.links {
    display: block;
}

/* --------- SKILLS SECTION --------- */
.resume__skills > li {
    align-items: center;
    justify-content: space-between;
}

.resume__skills {
    max-width: 215px; /* Keeps distance between label and scale minimal for better readability */
}

.resume__skills li img {
    width: 5rem;
    max-width: 170px;
}

/* Skill filter classes */
.hide-skills {
    display: none;
}

.show-skills {
    display: flex;
}

/* -------- MEDIA QUERY - MORE THAN 500 PX --------- */

@media (min-width: 500px) {

    section + section {
        margin-top: 3.2rem;
    }

    h1 {
        font-size: 2rem;
    }

    h3 {
        display: inline-block;
    }

    h3 ~ p:first-of-type {
        display: inline-block;
        margin-left: 1rem;
    }

    .contact p ~ p,
    .contact h2 ~ p {
        margin-left: 1rem;
    }
}

/* -------- MEDIA QUERY - MORE THAN 500 PX --------- */

@media (min-width: 650px) {

    h2 + ul {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .li_tier-1 {
        width: 35%;
        margin-bottom: 3rem;
        margin-right: 3rem;
    }

    .li_tier-1 + .li_tier-1 {
        margin-top: 0;
    }
}

/* -------- MEDIA QUERY - MORE THAN 500 PX --------- */

@media (min-width: 930px) {

    .li_tier-1 {
        width: 30%;
    }
}
